footer{
    margin-top: 400px;
    margin-bottom: 0;
    text-align: center;
    border: 2px #110526 solid;
    background-color: #110526;
    color: white;

}

body{
    background-image: url(./autumnnew.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    background-position: center;
    background-attachment: fixed;
    opacity: inherit;
}

